.Button {
  position: relative;
  min-width: 160px;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  @include typo($white, $baseFontSize, $normal, 1.2);
  text-align: center;
  text-decoration: none;
  padding: 1em 2em;
  transition: background-color 0.25s ease;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px $white;
  }

  &--primary {
    background-color: $colorPrimary;

    &:hover {
      background-color: darken($colorPrimary, 5%);
    }
  }

  &--secondary {
    background-color: $secondaryColor;

    &:hover {
      background-color: darken($secondaryColor, 5%);
    }
  }

  &--danger {
    background-color: $pinkWine;

    &:hover {
      background-color: darken($pinkWine, 5%);
    }
  }
}

@keyframes Shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
