.Button {
  position: relative;
  min-width: 160px;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  @include typo($white, $baseFontSize, $normal, 1.2);
  text-align: center;
  text-decoration: none;
  padding: 1em 2em;
  transition: background-color 0.25s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &.is-active {
    animation-name: Shake;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }

  &--tiny {
    min-width: 0;
    font-size: 12px;
  }

  &--small {
    min-width: 0;
    font-size: 14px;
  }

  &--wa {
    width: auto;
  }

  &--w240 {
    width: 240px;
  }

  &--primary {
    background-color: $colorPrimary;

    &:hover {
      background-color: darken($colorPrimary, 5%);
    }
  }

  &--secondary {
    background-color: $secondaryColor;

    &:hover {
      background-color: darken($secondaryColor, 5%);
    }
  }

  &--danger {
    background-color: $pinkWine;

    &:hover {
      background-color: darken($pinkWine, 5%);
    }
  }
}

@keyframes Shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
