$cols: 12;

.Grid {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;

  &--center {
    justify-content: center;
  }

  &-col {
    position: relative;
    padding: 0 10px;

    &--3 {
      flex: 0 0 percentage(3 / $cols);
      max-width: percentage(3 / $cols);
    }

    &--4 {
      flex: 0 0 percentage(4 / $cols);
      max-width: percentage(4 / $cols);
    }

    &--6 {
      flex: 0 0 percentage(6 / $cols);
      max-width: percentage(6 / $cols);
    }

    &--8 {
      flex: 0 0 percentage(8 / $cols);
      max-width: percentage(8 / $cols);
    }

    &--9 {
      flex: 0 0 percentage(9 / $cols);
      max-width: percentage(9 / $cols);
    }

    &--12 {
      flex: 0 0 percentage(12 / $cols);
      max-width: percentage(12 / $cols);
    }

    @media #{$tablet-800-max} {
      &--sm-12 {
        flex: 0 0 percentage(12 / $cols);
        max-width: percentage(12 / $cols);
      }
    }

    @media #{$phone-480-max} {
      &--xs-12 {
        flex: 0 0 percentage(12 / $cols);
        max-width: percentage(12 / $cols);
      }
    }

    // Push & Pull (oldies)
    &--push-3 {
      left: percentage(3 / $cols);
    }

    &--push-4 {
      left: percentage(4 / $cols);
    }

    &--push-5 {
      left: percentage(5 / $cols);
    }

    &--push-6 {
      left: percentage(6 / $cols);
    }

    &--push-7 {
      left: percentage(7 / $cols);
    }

    &--push-8 {
      left: percentage(8 / $cols);
    }

    &--pull-3 {
      right: percentage(3 / $cols);
    }

    &--pull-4 {
      right: percentage(4 / $cols);
    }

    &--pull-5 {
      right: percentage(5 / $cols);
    }

    &--pull-6 {
      right: percentage(6 / $cols);
    }

    &--pull-7 {
      right: percentage(7 / $cols);
    }

    &--pull-8 {
      right: percentage(8 / $cols);
    }
  }
}
