*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $black--light;
  margin: 0;
  padding: 0;
}

.Header {
  background-color: $colorSecondary;
  border-bottom: 1px solid rgba($white, 0.27);
  text-align: center;
  overflow: hidden;
  padding-bottom: 60px;
}

.Nav {
  margin-top: 60px;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-item {
    padding: 0px 10px 20px;

    a {
      font-size: $baseFontSize + 2;

      &:focus,
      &.is-active {
        color: $white;
        outline: none;
      }
    }
  }
}

.Main {
  text-align: center;
  min-height: 700px;
  padding-bottom: 100px;
  overflow: hidden;
}

.Section {
  position: relative;
  font-size: 0;
  padding-bottom: 40px;
}

.Container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.Overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.9);
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0;
  z-index: 99999;
  overflow: hidden;
  animation-name: FadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0s;
}
