.Modal {
  position: relative;
  width: 600px;
  text-align: center;
  background: $grey--dark;
  border-radius: 2px;
  opacity: 0;
  transform: translate3d(0px, -40px, 0px);

  animation-name: FadeInDown;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0.2s;

  @media #{$phone-640-max} {
    width: 90%;
  }

  &-content {
    padding: 40px;

    @media #{$phone-480-max} {
      padding: 20px;
    }
  }

  &-text {
    @include typo($white, $baseFontSize + 4);
    margin-top: 30px;
    margin-bottom: 0px;

    @media #{$phone-480-max} {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  &-close {
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 30px;
    height: 30px;
    background: url(../images/cross-white.svg) no-repeat center/contain transparent;
    border: none;
    opacity: 0.25;
    @include transition(opacity);
    margin: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;

    @media #{$phone-480-max} {
      top: 5px;
      right: 5px;
    }

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }
}

// Animations
@keyframes FadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
