.CustomSelect {
  position: relative;
  width: 240px;
  @include typo($black, 16px);
  text-align: left;
  background-color: $white;
  border: 1px solid $white;
  border-radius: 2px;
  padding: 0.75em 1em;
  margin: 0;

  &::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 14px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 10px;
    background: url("../images/arrow-down-select.svg") no-repeat center / contain transparent;
    transition: transform 0.4s ease;
  }

  &.is-active {
    &::after {
      transform: rotateX(180deg);
      @include transition(transform, 0.15s);
    }
  }

  &:hover {
    cursor: pointer;
    border-color: $colorPrimary;
    @include transition(border-color);
  }

  &.is-active,
  &:active,
  &:focus {
    border-color: $colorPrimary;
    outline: none;
  }

  &.is-active,
  &:active {
    border-radius: 2px 2px 0 0;
  }

  select {
    width: 100%;
    border: none;
  }

  &-options {
    display: none;
    position: absolute;
    z-index: 99999;
    width: 240px;
    left: -1px;
    top: calc(100% - 1px);
    border: 1px solid $colorPrimary;
    border-top: none;
    border-radius: 0 0 2px 2px;
    background-color: #fff;
    max-height: 242px;
    overflow: auto;

    &.is-active {
      display: block;
    }

    li {
      @extend .Form-input;
      border: none;
      border-top: 1px solid $grey--light;
      border-radius: 0;
      text-align: left;

      &:hover {
        cursor: pointer;
        color: #fff;
        background-color: $colorPrimary;
      }
    }
  }
}
