// Misc
.pos-rel {
  position: relative;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

// Typo
.f-bold {
  font-weight: $bold;
}

// Layout
.block-center {
  margin-left: auto;
  margin-right: auto;
}

.w50p {
  width: 50%;
}

.w100p {
  width: 100%;
}

// Spacing
.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.xs-mb10 {
  @media #{$phone-640-max} {
    margin-bottom: 10px;
  }
}

.xs-mt10 {
  @media #{$phone-640-max} {
    margin-top: 10px;
  }
}

// Colors
.c-primary {
  color: $colorPrimary;
}

.c-danger {
  color: $pinkWine;
}
